[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/base64"]
	path = deps/base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "deps/curlcpp"]
	path = deps/curlcpp
	url = https://github.com/JosephP91/curlcpp.git
